# contains files to ignore for this directory and all subdirectories
*.pyc
*.obj
*.suo
*.ncb
*.vcproj.*.user
*~
BuildLog.htm
*.idb
*.res
*.exe
*.manifest
*.pch
*.lib
*.pdb
*.dep
*.exp
*.dll
*.aps
*.o
*.pbxbtree
*.pbxuser
*.a
*.mode1v3
pbxindex.header
*.pbxsymbols
*.hmap
*.xcent
*.mobileprovision
build-state.dat
build-state~.dat
*.LinkFileList
log.txt
LogFile.Txt
plugins.ini
moc_*.cc
ui_*.h
.sconsign.dblite
Bin/*
Base/*
Temp/*
Cooked/*
globals.data
*.sav
*.deuser
TODO.txt
autoexec.txt
editor.user.ini