# contains files to ignore for this directory and all subdirectories
*.pyc
*.obj
*.suo
*.ncb
*.vcproj.*.user
*~
BuildLog.htm
*.idb
*.res
*.exe
*.manifest
*.pch
*.lib
*.pdb
*.dep
*.exp
*.dll
*.aps
log.txt
LogFile.Txt
plugins.ini
moc_*.cc
ui_*.h
.sconsign.dblite
Bin/*
